.category {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  min-height: 350px;
  padding-top: 30px;
  .swiper-pagination {
    bottom: 0 !important;
  }

  .swiper-button-prev {
    position: absolute;
    top: 25px;
    // left: 1200px;
    width: 60px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 50%;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 1.2rem;
  }

  .swiper-button-next {
    position: absolute;
    top: 25px;
    width: 60px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 50%;
  }

  .content h2 {
    color: #204746;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 100% */
  }

  .swiper {
    width: 90vw;
    height: 320px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    .swiper-wrapper {
      height: 200px;
    }
  }

  .swiper-slide {
    // width: 168px !important;
    height: 181px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    background: #000;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #fff;
  }

  .swiper-slide img {
    width: 92px !important;
    padding-bottom: 10px;
  }

  .swiper-slide span {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.14px;
  }
}
